# General
.DS_Store
.AppleDouble
.LSOverride

#Ignore build files
Basics/Project-1/Build/
Basics/Project-2/Build/
Basics/Project-3/Build/
Basics/Project-4/Library/Build/
Basics/Project-4/Consume/Build/
Basics/Project-5/Build/
Basics/Project-6/Release/
Basics/Project-6/Debug/
Basics/Project-7/Build/