# General
.DS_Store
.AppleDouble
.LSOverride

#Ignore build files
Basics/Project-1/Build/
Basics/Project-2/Build/
Basics/Project-3/Build/
Basics/Project-4/Library/Build/
Basics/Project-4/Consume/Build/
